table, th, td {
  border:1px solid black;
  padding: 0.5rem;
  background-color: #1a1b1b88;
}

table {
  width: 100%;
}

form {
  border: 2px solid rgb(26, 26, 26);
  padding: 10px;
  text-align: left;
  box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.808);
}

.cart__cart-orden {
  text-decoration: underline;
  text-transform: uppercase;
}

.cart__tables {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__img-cart {
  width: 40%;
}

.zindex {
  position: relative;
  z-index: 1;
}

.simple {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px 20px 5px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: #b3b3b469;
  color: white;
}

.slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
  
.slide i {
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}
  
.slide div {
  transition: transform 0.8s;
}
  
.slide:hover div {
  transform: translateX(-6px);
}
  
.slide::after {
  content: "";
  background-color: #66f2d5;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}
  
.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

@media screen and (max-width: 1400px) {
  .cart__img-cart {
    width: 60%;
  }
}