h2 i {
    color: rgb(255, 255, 255);
    animation: flip 2s linear;
    margin-right: 10px;
}

.container {
    max-width: 1700px;
    display: flex;
    justify-content: center;
}

.card {
    height: 100%;
    display: flex;
    background-color: rgb(24, 24, 24);
    border: 1px solid purple;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card.card-footer {
    align-self: flex-end;
    flex: 1 1 auto;
}

.card img {
    width: 100%;
    height: 8rem;
}

.container h2 {
    text-align: center;
}

.card .btn{
    position: relative;
    align-items: baseline;
}

.inputContainer {
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 10px;
    padding: 15px;
}

.btnv {
    width: 3.5rem;
    border-radius: 10px;
    border: 2px solid purple;
    background: #e6e6e6;
}

.btnf {
    width: 8rem;
    border-radius: 10px;
    border: 2px solid green;
    background: #e6e6e6;
}

@keyframes flip {
    from, 100% {
    transform: rotate(0);
    }
    to {
    transform: rotate(180deg);
    }
}