.interchange__button-buy {
    text-align: center;
    border: none;
    border-radius: 4px;
    margin: 0.5rem;
    padding: 0.8rem;
    background: linear-gradient(90deg, rgba(111,23,72,1) 0%, rgba(251,93,94,1) 100%);
}

.interchange__button-buy:hover {
    box-shadow: 2px 4px 8px 0px rgb(185, 185, 185);
    color: white;
    transition: all 100ms ease-in-out;
}

.interchange__button-finish {
    text-align: center;
    border: none;
    border-radius: 4px;
    margin: 0.5rem;
    padding: 0.8rem;
    background: linear-gradient(90deg, rgb(66, 66, 66) 0%, rgb(62, 240, 91) 100%);
}

.interchange__button-finish:hover {
    box-shadow: 2px 4px 8px 0px rgb(185, 185, 185);
    color: white;
    transition: all 100ms ease-in-out;
}